################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SuperMarioBros/v16/Browse.VC.db
/.vs/SuperMarioBros/v16/Browse.VC.opendb
/.vs/SuperMarioBros/v16/Browse.VC.db-wal
/.vs/SuperMarioBros/v16/Browse.VC.db-shm
/.vs/SuperMarioBros/v16/ipch/AutoPCH/c9406a0ed4a80d0d/ANIMATION.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/c92ac45dd5e7c768/PLAYSCENE.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/c5e6fcdf9479c235/SPRITES.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/c4ce93d0ee2973f1/GAME.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/b6820205d47d9bd5/MAIN.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/b424bb0dfc436d7a/MAIN.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/a68482f503752cb0/TEXTURE.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/7df7a8018b9e2112/SAMPLEKEYEVENTHANDLER.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/76977cdc06c652b2/BRICK.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/746f0e75acc5b1c/ANIMATIONS.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/7458752e9025510b/MARIO.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/6cc740c5090279be/SPRITE.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/4e587152634a2ca8/GAME.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/4d994c3421889090/GOOMBA.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/40cabb998ba19b3/GAMEOBJECT.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/38f8ff299a41a6c1/TEXTURE.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/331cada704a3cbee/CLOUD.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/31b83258091c9217/COLLISION.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/306cec833dad0eb1/PLAYSCENE.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/27ab55c5cac9f00c/DEBUG.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/161c8854877cc253/CLOUD.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/14518ebd652d6b37/MAIN.ipch
/.vs/SuperMarioBros/v16/ipch/AutoPCH/1316944f5d5a339a/COIN.ipch
